html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: #E9D8A6;
  height: 100px;
}

h1 {
  text-align: center;
  color: #9B2226;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: #94D2BD;
}